:root {
    --font-family: 'gotham','sans-serif';
    
    --primary-white: #FBFBFB;
    --primary-green: #2C7733;
    --primary-yellow: #FF8523;
    --primary-red: #C12424;
    --primary-blue: #1E648A;
    --primary-black: #1C1C1C;

    --second-light-blue: #0393C2;
    --second-light-green: #99CB9D;
    --second-grey: #3b4a5a;
    --second-light-grey: #eef1ef;
}

html {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

* {
    line-height: 1em;
}

li {
    margin: 5px 0;
}

li:first-child {
    margin-top: 0;
}

header h1 img {
    vertical-align: middle;
}

header {
    display: grid;
    grid-template-columns: auto min-content;
    padding: 10px;
    background-color: #eef1ef;
    font-family: var(--font-family);
}

header a {
    text-decoration: none;
    display: inline-block;
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

header a:link {
    text-decoration: none;
    color: var(--primary-green);
    font-family: var(--font-family)
}

header a:hover {
    text-decoration: none;
    color: var(--primary-green);
    font-family: var(--font-family)
}

header a:visited {
    text-decoration: none;
    color: var(--primary-green);
    font-family: var(--font-family)
}

header h1 {
    margin: 0;
}

.user-profile {
    text-align: end;
    color: var(--primary-green);
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
    align-self: end;
}

.user-profile > h3 {
    white-space: nowrap;
    margin: 0.5em;
}
.user-profile > button {
    background-color: var(--primary-white); /* Color de fondo similar */
    color: var(--primary-green); /* Color de texto blanco */
    padding: 0.1ch; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}
.user-profile > button:hover {
    background-color: var(--second-light-blue);
}

@keyframes scaleX {
    from {opacity: 0;
        transform: translateX(-400px);
        };
}

nav {
    background-color: #1E648A;
    margin: 0%;
    width: 100%;
    overflow: visible;
    box-shadow: 0px 8px 9px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 8px 9px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 9px -8px rgba(0,0,0,0.75);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav > ul {
    position: relative;
}

nav a {
    color: white;
    font-style: border;
    font-family: 'Gotham', sans-serif;
    text-decoration: none; 
    font-weight: bold;
}

nav ul li {
    transition:all 0.25s;
    padding: 1em;
    padding-inline: initial;
    margin-top: auto;
    margin-bottom: auto;
}

.navbarDropOption ul {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--second-grey);
    margin-top: 1em;
    padding: 0%;
    position: absolute;
    animation-name: opacity;
    animation-duration: 1s;
    width: max-content;
}

.navbarDropOption li {
    text-align: center;
    width: 100%;
    background-color: var(--second-grey);
    transition: all 0.25s;
}

.navbarDropOption:hover > ul, .navbarDropOption ul:hover {
    display: flex;
}

nav li:hover {
    position: relative;
    z-index: 2;
    transform: scale(1.1);
    background-color: #0393C2;
}

.navbarDropOption > ul > li:hover {
    background-color: #0393C2;
}

@keyframes opacity {
    0% {opacity: 0};
    100% {opacity: 1};
}

#hamburgerMenu {
    display: none;
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 35px;
    margin: 0;
    opacity: 0;
}

label[for=hamburgerMenu] {
    display: none;
    border-radius: 3px;
    background: var(--second-light-blue);
    position: relative;
    height: 5px;
    width: 30px;
    margin: 1em 0;
    cursor: pointer;
}

label[for=hamburgerMenu]:before {
    border-radius: 3px;
    background: var(--primary-white);
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 30px;
    height: 5px;
}

label[for=hamburgerMenu]:after {
    border-radius: 3px;
    background: var(--second-light-green);
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 30px;
    height: 5px;
}

@media (max-width:708px) {
    nav {
        width: auto;
        display: flex;
        height: auto;
        flex-direction: column;
        padding-left: 10%;
        margin: 0;
    }

    li.navbarDropOption {
       width: 11ch;
    }

    nav li:hover {
        background-color: #0393C2;
    }

    .navbarDropOption > ul {
        margin-left: 11ch;
        margin-top: -2em;
        background-color: var(--second-grey)
    }

    .navbarDropOption > .gp {
        margin-top: -3em;
    }

    .navbarDropOption > ul > li:hover {
        background-color: #0393C2;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    #hamburgerMenu {
        display: inline-block;
    }

    label[for=hamburgerMenu] {
        display: inline-block;   
    }

    nav #hamburgerMenu:not(:checked) ~ ul {
        display: none;
    }

    footer {
        display: none;
    }
}
@media (max-width:625px) {
    header{
        display: inline;
    }
    .user-profile {
        float:inline-end
    }
}

@media (max-width:436px) {
    header a {
        font-size: smaller;
    }

    nav a {
        font-size: small;
    }

    footer {
        font-size: smaller;
    }

    footer p {
        margin-bottom: 0;
    }
}


body {
    min-height: 100vh;
    width: 100%;
    margin: 0%;
    background-color: #99CB9D;
    font-family: 'Gotham';
    display:grid;
    grid-template-rows: min-content min-content auto min-content;
}

footer {
    background-color: #2C7733;
    color: var(--second-light-grey);
    padding: 0;
    text-align: center;
    font-size: smaller;
    max-height: 5.5em;
    align-content: last baseline;
    margin-top: 2em;
}

footer > p {
    margin-top: 0.2em;
    margin-bottom: auto;
}

footer > ul {
    list-style: none;
    margin-top: 0.2em;
    margin-bottom: auto;
    padding: 0;
}

body > main {
    margin: 2em auto auto;
}

/*
Hasta aca es todo el index, de header, 
footer y navbar

Vamos ahora con el login
*/

.login-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra más suave y difusa */
    padding: 20px; /* Espacio interno */
    background-color: var(--primary-white); /* Fondo similar */
    border-radius: 10px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente ajustado */
    color: var(--primary-black); /* Color de texto */
    text-align: left; /* Alineación del texto a la izquierda */
}

.login-container h1 {
    font-size: 1.5em; /* Tamaño más grande para el título */
/*    margin-bottom: 20px; /* Espacio debajo del título */
    color: var(--primary-green); /* Color del título */
    text-align: center; /* Centra el título */
}

/*
.login-form > .login-error {
    margin: 0;
}
*/

.register-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra más suave y difusa */
    padding: 20px; /* Espacio interno */
/*    margin: 2vh auto 2vh; /* Centra el contenedor y agrega espacio superior/inferior */
    background-color: var(--primary-white); /* Fondo similar */
    border-radius: 10px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente ajustado */
    color: var(--primary-black); /* Color de texto */
    text-align: left; /* Alineación del texto a la izquierda */
}

.register-container h1 {
    font-size: 1.5em; /* Tamaño más grande para el título */
 /*   margin-bottom: 20px; /* Espacio debajo del título */
    color: var(--primary-green); /* Color del título */
    text-align: center; /* Centra el título */
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre elementos */
}

.login-form label {
    font-weight: bold; /* Peso de fuente mayor para etiquetas */
}

.login-form select {
    width: 100%; /* Ancho completo del contenedor */
    padding: 10px; /* Espacio interno */
    margin-bottom: 10px; /* Espacio inferior */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Peso de la fuente */
    color: var(--primary-black); /* Color del texto */
    background-color: var(--primary-white); /* Fondo claro */
    border: 2px solid #ccc; /* Borde sólido */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano para interactuar */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

.login-form select:hover {
    border-color: var(--second-light-blue); /* Color del borde al pasar el ratón */
}

.login-form input {
    padding: 10px; /* Espacio interno en campos */
    border: 1px solid #ccc; /* Bordes suaves */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 14px; /* Ajuste de fuente */
}

.login-form button {
    background-color: var(--primary-green); /* Color de fondo similar */
    color: white; /* Color de texto blanco */
    font-weight: bold;
    padding: 10px; /* Relleno interno */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano */
    transition: background-color 0.3s; /* Suaviza el cambio de color */
}

.login-form button:hover {
    background-color: var(--second-light-blue); /* Color en hover */
}

.login-form a {
    text-decoration: underline;
    color: var(--second-light-blue); /* Color del enlace similar al esquema */
    text-align: center; /* Centrado del enlace */
    margin-top: 10px; /* Espacio superior al enlace */
}

.login-form p{
    color: red; /* Cambiar color si el estado es un error */
    text-align: center; /* Centrar el texto de estado */
    font-weight: bold; /* Texto en negrita */
}

.logout {
    height: 1.3em;
}

.logout > img {
    height: 1.3em;
    content: url('../../img/logout.svg');
}

/*
Hasta aca es login y register

Vamos ahora con la gestion de tipo de producto

colores:
--primary-white: #FBFBFB;
--primary-green: #2C7733;
--primary-yellow: #FF8523;
--primary-red: #C12424;
--primary-blue: #1E648A;
--primary-black: #1C1C1C;

--second-light-blue: #0393C2;
--second-light-green: #99CB9D;
--second-grey: #3b4a5a;
--second-light-grey: #eef1ef;

*/
.admtipopro-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Mejora la sombra para un efecto más suave */
    padding: 20px; /* Agrega un relleno interno para dar espacio dentro del contenedor */
    max-width: 400px; /* Limita el ancho máximo del contenedor */
/*    margin: 20px auto auto; /* Centra el contenedor horizontalmente y agrega espacio superior/inferior */
    background-color: var(--primary-white); /* Cambia el color de fondo para mayor contraste */
    border-radius: 10px; /* Añade bordes redondeados */
    font-size: 16px; /* Ajusta el tamaño de la fuente para una mejor lectura */
    color: var(--primary-black); /* Cambia el color de texto para mejor contraste */
    text-align: left; /* Alinea el texto a la izquierda */
}

.admtipopro-container h1 {
    font-size: 1.5em; /* Tamaño más grande para el título */
/*    margin-top: 0;
    margin-bottom: 20px; /* Espacio debajo del título */
    color: var(--primary-green); /* Color del título */
    text-align: center; /* Centra el título */
}

.admtipopro-container form {
    display: grid;
    flex-direction: column;
    gap: 10px; /* Espacio entre los elementos del formulario */
}

.admtipopro-container label {
    font-weight: bold; /* Hace el texto de los labels más visible */
}

.admtipopro-container input[type="text"],
.admtipopro-container select {
    padding: 8px; /* Añade un relleno interno */
    border: 1px solid #ccc; /* Define un borde suave */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 14px; /* Ajusta el tamaño de la fuente */
}

.admtipopro-container button {
    background-color: var(--primary-green); /* Color de fondo del botón */
    color: var(--primary-white); /* Color de texto del botón */
    padding: 10px; /* Relleno interno del botón */
    border: none; /* Sin bordes */
    font-weight: 600;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano al pasar sobre el botón */
    transition: background-color 0.3s; /* Efecto suave al cambiar color de fondo */
}

.admtipopro-container button:hover {
    background-color: var(--second-light-blue); /* Color de fondo al pasar el ratón por encima */
}

.admtipopro-container table {
    width: 100%; /* La tabla ocupa todo el ancho del contenedor */
    border-collapse: collapse; /* Elimina los espacios entre las celdas */
    margin-top: 20px; /* Espacio encima de la tabla */
}

.admtipopro-container th,
.admtipopro-container td {
    padding: 10px; /* Añade relleno interno a las celdas */
    border: 1px solid #ccc; /* Bordes suaves */
    text-align: center; /* Alinea el texto a la izquierda */
}

.admtipopro-container th {
    background-color: var(--primary-green); /* Color de fondo de la cabecera */
    color: var(--primary-white); /* Color de texto de la cabecera */
}
/*

Gestion de Fases
*/
.admfases-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Mejora la sombra para un efecto más suave */
    padding: 20px; /* Agrega un relleno interno para dar espacio dentro del contenedor */
    max-width: 400px; /* Limita el ancho máximo del contenedor */
/*    margin: 20px auto auto; /* Centra el contenedor horizontalmente y agrega espacio superior/inferior */
    background-color: var(--primary-white); /* Cambia el color de fondo para mayor contraste */
    border-radius: 10px; /* Añade bordes redondeados */
    font-size: 16px; /* Ajusta el tamaño de la fuente para una mejor lectura */
    color: var(--primary-black); /* Cambia el color de texto para mejor contraste */
    text-align: left; /* Alinea el texto a la izquierda */
}

.admfases-container h1 {
    font-size: 1.5em; /* Tamaño más grande para el título */
/*    margin-top: 0;
    margin-bottom: 20px; /* Espacio debajo del título */
    color: var(--primary-green); /* Color del título */
    text-align: center; /* Centra el título */
}

.admfases-container label {
    font-weight: bold; /* Hace el texto de los labels más visible */
}

.admfases-container input[type="text"],
.admfases-container select {
    padding: 8px; /* Añade un relleno interno */
    border: 1px solid #ccc; /* Define un borde suave */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 14px; /* Ajusta el tamaño de la fuente */
}

.admfases-container button {
    background-color: var(--primary-green); /* Color de fondo del botón */
    color: var(--primary-white); /* Color de texto del botón */
    padding: 10px; /* Relleno interno del botón */
    border: none; /* Sin bordes */
    font-weight: 600;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano al pasar sobre el botón */
    transition: background-color 0.3s; /* Efecto suave al cambiar color de fondo */
}

.admfases-container button:hover {
    background-color: var(--second-light-blue); /* Color de fondo al pasar el ratón por encima */
}

.admfases-container table {
    width: 100%; /* La tabla ocupa todo el ancho del contenedor */
    border-collapse: collapse; /* Elimina los espacios entre las celdas */
    margin-top: 20px; /* Espacio encima de la tabla */
}

.admfases-container th,
.admfases-container td {
    padding: 10px; /* Añade relleno interno a las celdas */
    border: 1px solid #ccc; /* Bordes suaves */
    text-align: center; /* Alinea el texto a la izquierda */
}

.admfases-container th {
    background-color: var(--primary-green); /* Color de fondo de la cabecera */
    color: var(--primary-white); /* Color de texto de la cabecera */
}


/*
Hasta aca es gestin de tipo de producto

Vamos ahora con la gestion de lotes
*/
.admlotes-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Mejora la sombra para un efecto más suave */
    padding: 20px; /* Agrega un relleno interno para dar espacio dentro del contenedor */
    width: 80%;
    max-width: 80vw; /* Limita el ancho máximo del contenedor */
/*    margin: 3vh auto 3vh; /* Centra el contenedor horizontalmente y agrega espacio superior/inferior */
    background-color: var(--primary-white); /* Cambia el color de fondo para mayor contraste */
    border-radius: 10px; /* Añade bordes redondeados */
    font-size: 16px; /* Ajusta el tamaño de la fuente para una mejor lectura */
    color: var(--primary-black); /* Cambia el color de texto para mejor contraste */
    text-align: left; /* Alinea el texto a la izquierda */
    
}

.admlotes-container h1 {
/*    margin-top: 0;
    margin-bottom: 3vh;
*/
    font-size: 1.5em; /* Tamaño más grande para el título */
    color: var(--primary-green); /* Color del título */
    text-align: center; /* Centra el título */
}

.admlotes-container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0ch;
    align-items: center;
    gap: 20px; /* Espacio entre los elementos del formulario */
}

.admlotes-container label {
    font-weight: bold; /* Hace el texto de los labels más visible */
}

.admlotes-container input[type="text"],
.admlotes-container select {
    padding: 8px; /* Añade un relleno interno */
    border: 1px solid #ccc; /* Define un borde suave */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 14px; /* Ajusta el tamaño de la fuente */
}

.admlotes-container button {
    background-color: var(--primary-green); /* Color de fondo del botón */
    color: var(--primary-white); /* Color de texto del botón */
    padding: 10px; /* Relleno interno del botón */
    border: none; /* Sin bordes */
    font-weight: 600;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano al pasar sobre el botón */
    transition: background-color 0.3s; /* Efecto suave al cambiar color de fondo */
}

.admlotes-container button:hover {
    background-color: var(--second-light-blue); /* Color de fondo al pasar el ratón por encima */
}

/*
Hasta aca es gestion de lotes

Vamos ahora con la gestion de formularios
*/

.admform-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Mejora la sombra para un efecto más suave */
    padding: 20px; /* Agrega un relleno interno para dar espacio dentro del contenedor */
/*    margin: 20px auto auto; /* Centra el contenedor horizontalmente y agrega espacio superior/inferior */
    background-color: var(--primary-white); /* Cambia el color de fondo para mayor contraste */
    border-radius: 10px; /* Añade bordes redondeados */
    font-size: 16px; /* Ajusta el tamaño de la fuente para una mejor lectura */
    color: var(--primary-black); /* Cambia el color de texto para mejor contraste */
    text-align: left; /* Alinea el texto a la izquierda */
}

.admform-container h1 {
    font-size: 1.5em; /* Tamaño más grande para el título */
/*    margin-top: 0;
    margin-bottom: 20px; /* Espacio debajo del título */
    color: var(--primary-green); /* Color del título */
    text-align: center; /* Centra el título */
}

.admform-container form {
    display: grid;
    flex-direction: column;
    gap: 10px; /* Espacio entre los elementos del formulario */
}

.admform-container label {
    font-weight: bold; /* Hace el texto de los labels más visible */
}

.admform-container input[type="text"],
.admform-container select {
    padding: 8px; /* Añade un relleno interno */
    border: 1px solid #ccc; /* Define un borde suave */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 14px; /* Ajusta el tamaño de la fuente */
}

.admform-container button {
    background-color: var(--primary-green); /* Color de fondo del botón */
    color: var(--primary-white); /* Color de texto del botón */
    padding: 10px; /* Relleno interno del botón */
    border: none; /* Sin bordes */
    font-weight: 600;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano al pasar sobre el botón */
    transition: background-color 0.3s; /* Efecto suave al cambiar color de fondo */
}

.admform-container button:hover {
    background-color: var(--second-light-blue); /* Color de fondo al pasar el ratón por encima */
}

.admform-container table {
    width: 100%; /* La tabla ocupa todo el ancho del contenedor */
    border-collapse: collapse; /* Elimina los espacios entre las celdas */
    margin-top: 20px; /* Espacio encima de la tabla */
}

.admform-container th,
.admform-container td {
    padding: 10px; /* Añade relleno interno a las celdas */
    border: 1px solid #ccc; /* Bordes suaves */
    text-align: center; /* Alinea el texto a la izquierda */
}

/*
Hasta aca es administracion de formularios

vamos con los datos del usuario en el index
*/

.index-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra más suave y difusa */
    padding: 20px; /* Espacio interno */
    background-color: var(--primary-white); /* Fondo similar */
    border-radius: 10px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente ajustado */
    color: var(--primary-black); /* Color de texto */
    text-align: left; /* Alineación del texto a la izquierda */
}

.index-container h1 {
    font-size: 1.5em; /* Tamaño más grande para el título */
    color: var(--primary-green); /* Color del título */
    text-align: center; /* Centra el título */
}
.index-form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre elementos */
}

.index-form label {
    font-weight: bold; /* Peso de fuente mayor para etiquetas */
}

.index-form select {
    width: 100%; /* Ancho completo del contenedor */
    padding: 10px; /* Espacio interno */
    margin-bottom: 10px; /* Espacio inferior */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Peso de la fuente */
    color: var(--primary-black); /* Color del texto */
    background-color: var(--primary-white); /* Fondo claro */
    border: 2px solid #ccc; /* Borde sólido */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano para interactuar */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

.index-form select:hover {
    border-color: var(--second-light-blue); /* Color del borde al pasar el ratón */
}

.index-form input {
    padding: 10px; /* Espacio interno en campos */
    border: 1px solid #ccc; /* Bordes suaves */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 14px; /* Ajuste de fuente */
}

.index-form button {
    background-color: var(--primary-green); /* Color de fondo similar */
    color: white; /* Color de texto blanco */
    font-weight: bold;
    padding: 10px; /* Relleno interno */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano */
    transition: background-color 0.3s; /* Suaviza el cambio de color */
}

.index-form button:hover {
    background-color: var(--second-light-blue); /* Color en hover */
}

.index-form a {
    text-decoration: underline;
    color: var(--second-light-blue); /* Color del enlace similar al esquema */
    text-align: center; /* Centrado del enlace */
    margin-top: 10px; /* Espacio superior al enlace */
}

.index-form p{
    color: red; /* Cambiar color si el estado es un error */
    text-align: center; /* Centrar el texto de estado */
    font-weight: bold; /* Texto en negrita */
}

.index-container th {
    background-color: var(--primary-green); /* Color de fondo de la cabecera */
    color: var(--primary-white); /* Color de texto de la cabecera */
}

.index-container table {
    width: 100%; /* La tabla ocupa todo el ancho del contenedor */
    border-collapse: collapse; /* Elimina los espacios entre las celdas */
}

.index-container th,
.index-container td {
    padding: 10px; /* Añade relleno interno a las celdas */
    border: 1px solid #ccc; /* Bordes suaves */
    text-align: center; /* Alinea el texto a la izquierda */
}

.index-container h3{
    color: var(--second-light-blue);
}

@media (max-width:500px) {
    .admform-container th,
    .admform-container td {
        padding: 0.2em;
    }
}

.admform-container th {
    background-color: var(--primary-green); /* Color de fondo de la cabecera */
    color: var(--primary-white); /* Color de texto de la cabecera */
}
/*
-----------------------------
Vista de impresion
-----------------------------
*/

@media print  {
    nav {
        display: none;
    }

    footer {
        display: none;
    }

    main {
        float: none
    }
}

/*
-----------------------------
Modo oscuro
-----------------------------
*/

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--primary-black);
    }
    header{
        background-color: var(--primary-blue);
    }
    header a:link{
        color: var(--second-light-green);
    }
    header a:hover{
        color: var(--second-light-green);
    }
    header a:visited{
        color: var(--second-light-green);  
    }
    .user-profile {
        color: var(--second-light-green);
    }
    .user-profile > button {
        background-color: var(--primary-blue); /* Color de fondo del botón */
        color: var(--second-light-grey);
    }
    nav{
        background-color: var(--second-grey);
    }
    nav a {
        color: var(--second-light-green);   
    }
    footer{
        background-color: #3b4a5a;
    }
    
    .login-container h1{
        color: var(--second-light-green);
    }

    .login-container{
        background-color: var(--second-grey);
        color: var(--primary-yellow);
    }

    .login-form p{
        color: var(--primary-white); /* Cambiar color si el estado es un error */
    }
    .login-form a {
        color: var(--second-light-grey); /* Color del enlace similar al esquema */
    }
    .login-form button {
        background-color: var(--primary-blue); /* Color de fondo similar */
        color: var(--second-light-grey); /* Color de texto blanco */
    }

    .register-container h1{
        color: var(--second-light-green);
    }

    .register-container{
        background-color: var(--second-grey);
        color: var(--primary-yellow);
    }

    .register-form button {
        background-color: var(--primary-blue); /* Color de fondo similar */
        color: var(--second-light-grey); /* Color de texto blanco */
    }

    .index-container h1{
        color: var(--second-light-green);
    }
    .index-container h3{
        color: var(--second-light-grey);
    }

    .index-container{
        background-color: var(--second-grey);
        color: var(--primary-yellow);
    }
    .index-form button {
        background-color: var(--primary-blue); /* Color de fondo similar */
        color: var(--second-light-grey); /* Color de texto blanco */
    }
    .index-form p{
        color: var(--primary-white); /* Cambiar color si el estado es un error */
    }
    .index-form a {
        color: var(--second-light-grey); /* Color del enlace similar al esquema */
    }
    .index-container th,
    .index-container td {
        border: 1px solid #494949; /* Bordes suaves */
    }
    .index-container th {
        background-color: var(--primary-blue); /* Color de fondo de la cabecera */
        color: var(--primary-white); /* Color de texto de la cabecera */
    }

    .admtipopro-container h1{
        color: var(--second-light-green);
    }

    .admtipopro-container{
        background-color: var(--second-grey);
        color: var(--primary-yellow);
    }

    .admtipopro-container p{
        color: var(--primary-white); /* Cambiar color si el estado es un error */
    }
    .admtipopro-container a {
        color: var(--second-light-grey); /* Color del enlace similar al esquema */
    }
    .admtipopro-container button {
        background-color: var(--primary-blue); /* Color de fondo similar */
        color: var(--second-light-grey); /* Color de texto blanco */
    }
    .admtipopro-container th,
    .admtipopro-container td {
        border: 1px solid #494949; /* Bordes suaves */
    }
    .admtipopro-container th {
        background-color: var(--primary-blue); /* Color de fondo de la cabecera */
        color: var(--primary-white); /* Color de texto de la cabecera */
    }

    .admlotes-container h1{
        color: var(--second-light-green);
    }

    .admlotes-container{
        background-color: var(--second-grey);
        color: var(--primary-yellow);
    }

    .admlotes-container button {
        background-color: var(--primary-blue); /* Color de fondo similar */
        color: var(--second-light-grey); /* Color de texto blanco */
    }

    .admform-container h1{
        color: var(--second-light-green);
    }

    .admform-container {
        background-color: var(--second-grey);
        color: var(--primary-yellow);
    }

    .admform-container button {
        background-color: var(--primary-blue); /* Color de fondo similar */
        color: var(--second-light-grey); /* Color de texto blanco */
    }

    .admform-container th {
        background-color: var(--primary-blue); /* Color de fondo de la cabecera */
        color: var(--primary-white); /* Color de texto de la cabecera */
    }

    .admform-container th,
    .admform-container td {
        border: 1px solid #494949; /* Bordes suaves */
    }

    .admfases-container h1{
        color: var(--second-light-green);
    }

    .admfases-container{
        background-color: var(--second-grey);
        color: var(--primary-yellow);
    }

    .admfases-container p{
        color: var(--primary-white); /* Cambiar color si el estado es un error */
    }

    .admfases-container a {
        color: var(--second-light-grey); /* Color del enlace similar al esquema */
    }

    .admfases-container button {
        background-color: var(--primary-blue); /* Color de fondo similar */
        color: var(--second-light-grey); /* Color de texto blanco */
    }

    .admfases-container th,
    .admfases-container td {
        border: 1px solid #494949; /* Bordes suaves */
    }

    .admfases-container th {
        background-color: var(--primary-blue); /* Color de fondo de la cabecera */
        color: var(--primary-white); /* Color de texto de la cabecera */
    }

 }