:root {
    --font-family: 'gotham','sans-serif';
    
    --primary-white: #FBFBFB;
    --primary-green: #2C7733;
    --primary-yellow: #FF8523;
    --primary-red: #C12424;
    --primary-blue: #1E648A;
    --primary-black: #1C1C1C;

    --second-light-blue: #0393C2;
    --second-light-green: #99CB9D;
    --second-grey: #3b4a5a;
    --second-light-grey: #eef1ef;
}

html {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

* {
    line-height: 1em;
}

li {
    margin: 5px 0;
}

li:first-child {
    margin-top: 0;
}

header h1 img {
    vertical-align: middle;
}

header {
    display: flex;
    align-items: center ;/* Centra verticalmente los elementos */
    padding: 10px;
    background-color: var(--second-light-grey);
    font-family: var(--font-family);
    justify-content: space-between;
}

.logo {
    margin-right: 10px;
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-bottom: 0;
    margin-top:0;
}

.titulo-subtitulo {
    display: flex;
    text-align: left;
    flex-direction: column; /* Apila el título y subtítulo verticalmente */
    margin-left: 0.5em;
}

.index-container .attribute-section td {
    border: none;
    text-align: start;
}

header a {
    text-decoration: none;
    display: inline-block;
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.subtitulo {
    font-size: 1em; /* Ajusta el tamaño a tu gusto */
    color: var(--primary-blue); /* Color suave para el subtítulo */
    margin-top: 0;
    font-weight: bold;
    
}

header a:link {
    text-decoration: none;
    color: var(--primary-green);
    font-family: var(--font-family)
}

header a:hover {
    text-decoration: none;
    color: var(--primary-green);
    font-family: var(--font-family)
}

header a:visited {
    text-decoration: none;
    color: var(--primary-green);
    font-family: var(--font-family)
}

header h1 {
    margin: 0;
    color: var(--primary-green);
}

tr.dragging {
  opacity: 0.5;
  cursor: grabbing;
  z-index: 1000;
}

tr[draggable="true"]:not(.dragging) {
  cursor: grab;
}

tbody {
  transition: all 0.3s ease;
}

section {
    margin-bottom: 20px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background-color:#000;
    opacity:0.3;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left: calc(50% - 60px);
    margin-top: 50px;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}


.user-profile {
    text-align: end;
    color: var(--primary-blue);
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
    align-self: end;
    margin-bottom: 0;
}

.user-profile > h3 {
    white-space: nowrap;
    margin: 0.5em;
}
.user-profile > button {
    background-color: var(--primary-white); /* Color de fondo similar */
    color: var(--primary-green); /* Color de texto blanco */
    padding: 0.1ch; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}
.user-profile > button:hover {
    background-color: var(--second-light-blue);
}

@keyframes scaleX {
    from {opacity: 0;
        transform: translateX(-400px);
        };
}

nav {
    background-color: #1E648A;
    margin: 0%;
    width: 100%;
    overflow: visible;
    box-shadow: 0px 8px 9px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 8px 9px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 9px -8px rgba(0,0,0,0.75);
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav > ul {
    position: relative;
}

nav a {
    color: white;
    font-style: border;
    font-family: 'Gotham', sans-serif;
    text-decoration: none; 
    font-weight: bold;
}

nav ul li {
    transition:all 0.25s;
    padding: 1em;
    padding-inline: initial;
    margin-top: auto;
    margin-bottom: auto;
}

.navbarDropOption ul {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--second-grey);
    margin-top: 1em;
    padding: 0%;
    position: absolute;
    animation-name: opacity;
    animation-duration: 1s;
    width: max-content;
}

.navbarDropOption li {
    text-align: center;
    width: 100%;
    background-color: var(--second-grey);
    transition: all 0.25s;
}

.navbarDropOption:hover > ul, .navbarDropOption ul:hover {
    display: flex;
}

nav li:hover {
    position: relative;
    z-index: 2;
    transform: scale(1.1);
    background-color: #0393C2;
}

.navbarDropOption > ul > li:hover {
    background-color: #0393C2;
}

@keyframes opacity {
    0% {opacity: 0};
    100% {opacity: 1};
}

#hamburgerMenu {
    display: none;
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 35px;
    margin: 0;
    opacity: 0;
}

label[for=hamburgerMenu] {
    display: none;
    border-radius: 3px;
    background: var(--second-light-blue);
    position: relative;
    height: 5px;
    width: 30px;
    margin: 1em 0;
    cursor: pointer;
}

label[for=hamburgerMenu]:before {
    border-radius: 3px;
    background: var(--primary-white);
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 30px;
    height: 5px;
}

label[for=hamburgerMenu]:after {
    border-radius: 3px;
    background: var(--second-light-green);
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 30px;
    height: 5px;
}
.hidden {
    display: none;
}

@media (max-width:708px) {
    nav {
        width: auto;
        display: flex;
        height: auto;
        flex-direction: column;
        padding-left: 10%;
        margin: 0;
    }

    li.navbarDropOption {
       width: 11ch;
    }

    nav li:hover {
        background-color: #0393C2;
    }

    .navbarDropOption > ul {
        margin-left: 11ch;
        margin-top: -2em;
        background-color: var(--second-grey)
    }

    .navbarDropOption > .gp {
        margin-top: -3em;
    }

    .navbarDropOption > ul > li:hover {
        background-color: #0393C2;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    #hamburgerMenu {
        display: inline-block;
    }

    label[for=hamburgerMenu] {
        display: inline-block;   
    }

    nav #hamburgerMenu:not(:checked) ~ ul {
        display: none;
    }

}
@media (max-width:625px) {
    header{
        display: inline;
    }
    .user-profile {
        float:inline-end
    }
}

@media (max-width:436px) {
    header a {
        font-size: smaller;
    }

    nav a {
        font-size: small;
    }

    footer {
        font-size: smaller;
    }

    footer p {
        margin-bottom: 0;
    }
}

body {
    min-height: 100vh;
    width: 100%;
    margin: 0%;
    background-color: #99CB9D;
    font-family: 'Gotham';
    display:grid;
    grid-template-rows: min-content min-content auto min-content;
}

footer {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C7733;
    color: var(--second-light-grey);
    text-align: center;
    font-size: smaller;
    margin-top: 1em;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.help{
    display: block;
    font-size: 2em;
    text-decoration: none; 
    color: inherit; 
    margin-right: 0.5em;
}

.help-emoji{
    text-decoration: none;
}

.help-emoji::before{
    content: 'ℹ️';
    padding: auto;
}

.help-emoji:hover{
    background-color: var(--second-light-blue);
    text-decoration: underline;
}

body > main {
    margin: 2em auto auto;
}

/*
Hasta aca es todo el index, de header, 
footer y navbar

Vamos ahora con el login
*/

.login-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra más suave y difusa */
    padding: 20px; /* Espacio interno */
    background-color: var(--primary-white); /* Fondo similar */
    border-radius: 10px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente ajustado */
    color: var(--primary-black); /* Color de texto */
    text-align: left; /* Alineación del texto a la izquierda */
    min-width: 300px;
}

.login-container h1 {
    font-size: 1.5em; /* Tamaño más grande para el título */
/*    margin-bottom: 20px; /* Espacio debajo del título */
    color: var(--primary-green); /* Color del título */
    text-align: center; /* Centra el título */
}

.login-form > .login-error {
    margin: 0;
}

.register-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra más suave y difusa */
    padding: 20px; /* Espacio interno */
/*    margin: 2vh auto 2vh; /* Centra el contenedor y agrega espacio superior/inferior */
    background-color: var(--primary-white); /* Fondo similar */
    border-radius: 10px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente ajustado */
    color: var(--primary-black); /* Color de texto */
    text-align: left; /* Alineación del texto a la izquierda */
}

.register-container h1 {
    font-size: 1.5em; /* Tamaño más grande para el título */
 /*   margin-bottom: 20px; /* Espacio debajo del título */
    color: var(--primary-green); /* Color del título */
    text-align: center; /* Centra el título */
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre elementos */
}

.login-form label {
    font-weight: bold; /* Peso de fuente mayor para etiquetas */
}

.login-form select {
    width: 100%; /* Ancho completo del contenedor */
    padding: 10px; /* Espacio interno */
    margin-bottom: 10px; /* Espacio inferior */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Peso de la fuente */
    color: var(--primary-black); /* Color del texto */
    background-color: var(--primary-white); /* Fondo claro */
    border: 2px solid #ccc; /* Borde sólido */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano para interactuar */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

.login-form select:hover {
    border-color: var(--second-light-blue); /* Color del borde al pasar el ratón */
}

.login-form input {
    padding: 10px; /* Espacio interno en campos */
    border: 1px solid #ccc; /* Bordes suaves */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 14px; /* Ajuste de fuente */
}

.login-form button {
    background-color: var(--primary-green); /* Color de fondo similar */
    color: white; /* Color de texto blanco */
    font-weight: bold;
    padding: 10px; /* Relleno interno */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano */
    transition: background-color 0.3s; /* Suaviza el cambio de color */
}

.login-form button:hover {
    background-color: var(--second-light-blue); /* Color en hover */
}

.login-form a {
    text-decoration: underline;
    color: var(--second-light-blue); /* Color del enlace similar al esquema */
    text-align: center; /* Centrado del enlace */
    margin-top: 10px; /* Espacio superior al enlace */
}

.login-form p{
    color: red; /* Cambiar color si el estado es un error */
    text-align: center; /* Centrar el texto de estado */
    font-weight: bold; /* Texto en negrita */
}

.logout {
    height:0.8em;
}

.logout-emoji{
    display: flex;
    align-items: center;
    transform: scaleX(-1);
    transition: transform 0.3s ease, background-color 0.3s ease; 
    padding-left: 0.2em;
    padding-top: 0.1em;
    border-radius: 5px;
}

.logout-emoji::before {
    content: '🚪🚶🏼';
}

.logout-emoji:hover {
    transform: scale(1.2); /* Aumenta el tamaño ligeramente al hacer hover */
    background-color: var(--second-light-blue); 
}

.logout > img {
    height: 1.3em;
    content: url('../../img/logout.svg');
}

.up{
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    padding-left: 0.2em;
    padding-top: 0.5em;
    border-radius: 5px;
}
.up::before {
    content: "⬆️"; /* Emoji de flecha hacia arriba */
    font-size: 1.3em;
}

.up:hover {
    background-color: var(--second-light-blue); 
}
.down{
    text-decoration: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    padding-left: 0.2em;
    padding-top: 0.5em;
    border-radius: 5px;
}
.down::before {
    content: "⬇️"; /* Emoji de flecha hacia abajo */
    font-size: 1.3em;
}
.down:hover {
    background-color: var(--second-light-blue); 
}


.modify::before {
    content:"✏️";
    text-decoration: none;
}
.modify:hover {
    transform: scale(1.2); 
    background-color: var(--second-light-blue);
}

.relative {
    position: relative;
}

.capitalize {
    text-transform: capitalize;
}

/*
Hasta aca es login y register

Vamos ahora con la gestion de tipo de producto

colores:
--primary-white: #FBFBFB;
--primary-green: #2C7733;
--primary-yellow: #FF8523;
--primary-red: #C12424;
--primary-blue: #1E648A;
--primary-black: #1C1C1C;

--second-light-blue: #0393C2;
--second-light-green: #99CB9D;
--second-grey: #3b4a5a;
--second-light-grey: #eef1ef;

*/
.admtipopro-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Mejora la sombra para un efecto más suave */
    padding: 20px; /* Agrega un relleno interno para dar espacio dentro del contenedor */
    max-width: 800px; /* Limita el ancho máximo del contenedor */
/*    margin: 20px auto auto; /* Centra el contenedor horizontalmente y agrega espacio superior/inferior */
    background-color: var(--primary-white); /* Cambia el color de fondo para mayor contraste */
    border-radius: 10px; /* Añade bordes redondeados */
    font-size: 16px; /* Ajusta el tamaño de la fuente para una mejor lectura */
    color: var(--primary-black); /* Cambia el color de texto para mejor contraste */
    text-align: left; /* Alinea el texto a la izquierda */
}

.admtipopro-container h1 {
    font-size: 1.5em; /* Tamaño más grande para el título */
/*    margin-top: 0;
    margin-bottom: 20px; /* Espacio debajo del título */
    color: var(--primary-green); /* Color del título */
    text-align: center; /* Centra el título */
}

.admtipopro-container form {
    display: grid;
    flex-direction: column;
    gap: 10px; /* Espacio entre los elementos del formulario */
}

.admtipopro-container label {
    font-weight: bold; /* Hace el texto de los labels más visible */
}

.admtipopro-container input[type="text"],
.admtipopro-container select {
    padding: 8px; /* Añade un relleno interno */
    border: 1px solid #ccc; /* Define un borde suave */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 14px; /* Ajusta el tamaño de la fuente */
}





.admtipopro-container table {
    width: 100%; /* La tabla ocupa todo el ancho del contenedor */
    border-collapse: collapse; /* Elimina los espacios entre las celdas */
    margin-top: 20px; /* Espacio encima de la tabla */
}

.admtipopro-container th,
.admtipopro-container td {
    padding: 10px; /* Añade relleno interno a las celdas */
    border: 1px solid #ccc; /* Bordes suaves */
    text-align: center; /* Alinea el texto a la izquierda */
}

.admtipopro-container th {
    background-color: var(--primary-green); /* Color de fondo de la cabecera */
    color: var(--primary-white); /* Color de texto de la cabecera */
}
/*

Gestion de Fases
*/
.admfases-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Mejora la sombra para un efecto más suave */
    padding: 20px; /* Agrega un relleno interno para dar espacio dentro del contenedor */
    background-color: var(--primary-white); /* Cambia el color de fondo para mayor contraste */
    border-radius: 10px; /* Añade bordes redondeados */
    font-size: 16px; /* Ajusta el tamaño de la fuente para una mejor lectura */
    color: var(--primary-black); /* Cambia el color de texto para mejor contraste */
    text-align: left; /* Alinea el texto a la izquierda */
    font-weight: bold;
}

.admfases-container h1 {
    font-size: 1.5em; /* Tamaño más grande para el título */
    color: var(--primary-green); /* Color del título */
    text-align: center; /* Centra el título */
}

.admfases-container label {
    font-weight: bold; /* Hace el texto de los labels más visible */
    margin-bottom: 0.5em;

}

.admfases-container input[type="text"],
.admfases-container input[type="number"],
.admfases-container select {
    padding: 0.5em; /* Aumentar padding */
/*    margin-bottom: 0.8em; /* Añadir espacio entre los elementos */
    border-radius: 5px;
    border: 1px solid #ccc;
/*    width: 100%; /* Ajustar el tamaño de los inputs al 100% del contenedor */
    max-width: 200px; /* Evitar que crezca demasiado */
}




.admfases-container table {
    border-collapse: collapse; /* Elimina los espacios entre las celdas */
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left: auto;
    margin-right: auto;
}

.admfases-container th,
.admfases-container td {
    padding: 10px; /* Añade relleno interno a las celdas */
    border: 1px solid #ccc; /* Bordes suaves */
    text-align: center; /* Alinea el texto a la izquierda */
}

.admfases-container th {
    background-color: var(--primary-green); /* Color de fondo de la cabecera */
    color: var(--primary-white); /* Color de texto de la cabecera */
}

.contenedor_lista_tipo_producto select{
    margin: 0.5em;
}
.campo-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--primary-white);
    width: 100%;
}

.campo-row:first-child {
    margin: 0; /* Eliminar cualquier margen para el primer hijo */
    padding: 0; /* Evitar padding que mueva el primer elemento */
}

.campo-row span {
    flex-grow: 1; /* Hace que el nombre del campo ocupe el espacio disponible */
    text-align: left; /* Alinea el nombre del campo a la izquierda */
}

.campos-container {
    margin: 0;
    padding: 0; /* Elimina cualquier margen o padding sobrante en el contenedor */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
}



.btn-editar::before {
    content:  '✏️';
    color: var(--second-light-blue);
}
.btn-editar-ver::before {
    content:  '👁️';
}
.btnEditarProducto::before {
    content:'✏️';
}
.btnEliminarProducto::before {
    content:'❌';
}


.btn {
    background-color: var(--primary-green);
    color: var(--primary-white);
    padding: 10px;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.btn:hover {
    background-color: var(--second-light-blue);
}

.btn-editarver{
    padding:0.2em;
    display: inline-flex;
    text-decoration: none;
    color: var(--second-light-blue);
    transform: scaleX(-1);
    transition: transform 0.3s ease, background-color 0.3s ease;
    background: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn-confirmar{
    padding:0.1em;
    display: inline-flex;
    text-decoration: none;
    color: var(--second-light-blue);
    transition: transform 0.3s ease, background-color 0.3s ease;
    background: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-confirmar:hover{
    transform: scale(1.2);
    background-color: var(--second-light-blue);
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.btn-editarflecha{
    padding:0.5em;
    display: inline-flex;
}

.btn-editarver:hover{
    transform: scale(1.2);
    background-color: var(--second-light-blue);
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.max-content {
    width: max-content;
}



#formularioFases{
    display: none;
}
#formularioFases > label {
    margin-top:0.5vw
}
#formularioFases > input {
    margin-top:0.5vw
}
#formularioFases > select {
    margin-top:0.5vw
}
#formularioFases > button {
    margin-top:0.5vw
}

/* Mejora del diseño para la sección de Gestión de Fases */

/* Espaciado y alineación de los elementos en las fases */
.admfases-container .tabla-fases td {
    vertical-align: middle; /* Alinea el contenido verticalmente */
}

.admfases-container .tabla-fases input.input-editar {
    margin-bottom: 10px;
    width: 90%; /* Aumenta el ancho del input para que se ajuste al contenedor */
}

.admfases-container .btn-ok {
    background-color: var(--primary-green); /* Color de fondo del botón */
    color: var(--primary-white); /* Color de texto blanco */
    font-size: 0.9em;
    padding: 5px 10px; /* Ajusta el tamaño del botón */
    margin-left: 10px;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    margin: 0.5em;
}

.admfases-container .btn-ok:hover {
    background-color: var(--primary-blue); /* Cambia el color al pasar el mouse */
}

.btn-delete::before {
    content: '❌';
}



.btn-confirmar::before {
    content: '✔️';
    color: transparent;  
    text-shadow: 0 0 0 red;
}



.admfases-container .btn-delete-campo {
    background-color: var(--primary-white); /* Color de fondo para el botón de eliminar */
    color: var(--primary-white); /* Color de texto blanco */
    font-size: 0.9em;
    padding: 5px 10px; /* Ajusta el tamaño del botón */
    margin-left: 10px;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
}

.admfases-container .btn-delete-campo:hover {
    background-color: var(--second-light-blue); /* Cambia el color al pasar el mouse */
}

.campos-container {
    padding: 10px;
    background-color: var(--primary-white); /* Fondo para diferenciar los campos existentes */
    border-radius: 5px; /* Bordes redondeados */
    margin-top: 10px;
}

.label-campo{
    float: inline-start;
}


/* Alineación y espaciado entre las filas y los elementos */
.admfases-container .campo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.admfases-container .campos-container {
    padding: 10px;
    background-color: var(--primary-white); /* Fondo para diferenciar los campos existentes */
    border-radius: 5px; /* Bordes redondeados */
    margin-top: 10px;
}




/* Mejora del espaciado de la tabla */
.admfases-container table {
    margin-top: 1em;
}

.admfases-container th, .admfases-container td {
    padding: 10px;
}

.admfases-container input[type="number"] {
    width: 50px; /* Ajusta el tamaño del input de número de orden */
}


/*
Hasta aca es gestin de tipo de producto

Vamos ahora con la gestion de lotes
*/
.admlotes-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Mejora la sombra para un efecto más suave */
    padding: 20px; /* Agrega un relleno interno para dar espacio dentro del contenedor */
    width: 80%;
    max-width: 80vw; /* Limita el ancho máximo del contenedor */
/*    margin: 3vh auto 3vh; /* Centra el contenedor horizontalmente y agrega espacio superior/inferior */
    background-color: var(--primary-white); /* Cambia el color de fondo para mayor contraste */
    border-radius: 10px; /* Añade bordes redondeados */
    font-size: 16px; /* Ajusta el tamaño de la fuente para una mejor lectura */
    color: var(--primary-black); /* Cambia el color de texto para mejor contraste */
    text-align: left; /* Alinea el texto a la izquierda */
}

.admlotes-container h1 {
/*    margin-top: 0;
    margin-bottom: 3vh;
*/
    font-size: 1.5em; /* Tamaño más grande para el título */
    color: var(--primary-green); /* Color del título */
    text-align: center; /* Centra el título */
}

.admlotes-container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0ch;
    align-items: center;
    gap: 2vw;
}

.admlotes-container label {
    font-weight: bold; /* Hace el texto de los labels más visible */
}

.admlotes-container input[type="text"],
.admlotes-container select {
    padding: 8px; /* Añade un relleno interno */
    border: 1px solid #ccc; /* Define un borde suave */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 14px; /* Ajusta el tamaño de la fuente */
}

.admlotes-container button {
    display: block;
    background-color: var(--primary-green); /* Color de fondo del botón */
    color: var(--primary-white); /* Color de texto del botón */
    padding: 10px; /* Relleno interno del botón */
    border: none; /* Sin bordes */
    font-weight: 600;
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano al pasar sobre el botón */
    transition: background-color 0.3s; /* Efecto suave al cambiar color de fondo */
    grid-column: 1 / -1; /* Hace que el botón ocupe todo el ancho del contenedor */
}

.admlotes-container button:hover {
    background-color: var(--second-light-blue); /* Color de fondo al pasar el ratón por encima */
}

.collapsed {
    visibility: collapse;
}

/*
Hasta aca es gestion de lotes

Vamos ahora con la gestion de formularios
*/

.admform-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Mejora la sombra para un efecto más suave */
    padding: 2vw; /* Agrega un relleno interno para dar espacio dentro del contenedor */
    background-color: var(--primary-white); /* Cambia el color de fondo para mayor contraste */
    border-radius: 10px; /* Añade bordes redondeados */
    font-size: 16px; /* Ajusta el tamaño de la fuente para una mejor lectura */
    color: var(--primary-black); /* Cambia el color de texto para mejor contraste */
    text-align: left; /* Alinea el texto a la izquierda */

}

.admform-container h1 {
    font-size: 1.5em; /* Tamaño más grande para el título */
/*    margin-top: 0;
    margin-bottom: 20px; /* Espacio debajo del título */
    color: var(--primary-green); /* Color del título */
    text-align: center; /* Centra el título */
}

.admform-container form {
    display: grid;
    flex-direction: column;
    gap: 10px; /* Espacio entre los elementos del formulario */
}

.admform-container label {
    font-weight: bold; /* Hace el texto de los labels más visible */
}

.admform-container input[type="text"],
.admform-container select {
    padding: 8px; /* Añade un relleno interno */
    border: 1px solid #ccc; /* Define un borde suave */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 14px; /* Ajusta el tamaño de la fuente */
}


.admform-container table {
    width: 100%; /* La tabla ocupa todo el ancho del contenedor */
    border-collapse: collapse; /* Elimina los espacios entre las celdas */
    margin-top: 20px; /* Espacio encima de la tabla */
}

.admform-container th,
.admform-container td {
    padding: 10px; /* Añade relleno interno a las celdas */
    border: 1px solid #ccc; /* Bordes suaves */
    text-align: center; /* Alinea el texto a la izquierda */
}

.admform-container td p {
    margin: 0;
}

ul.no-dots {
    list-style: none;
}

ul.multi-columns {
    columns: 3;
}

ul.lista-horizontal, ol.lista-horizontal {
    list-style: none;
    margin: 0;
    text-align: center;
    padding: 0;
    width: max-content;
}

ul.lista-horizontal > *, ol.lista-horizontal > * {
    display: inline-block;
    margin: 0.5ch;
}

.page-numbers .pag-current {
    background-color: var(--second-light-blue);
}

ul.lista-horizontal.paginator {
    width: 100%;
}

.paginator .button[data-page="prev"]:has(~ .page-numbers > :first-child.pag-current) {
    background-color: var(--second-grey);
    cursor: auto;
}

.paginator .button[data-page="first"]:has(~ .page-numbers > :first-child.pag-current) {
    background-color: var(--second-grey);
    cursor: auto;
}

.page-numbers:has(> :last-child.pag-current) + .button[data-page="next"] {
    background-color: var(--second-grey);
    cursor: auto;
}

.page-numbers:has(> :last-child.pag-current) ~ .button[data-page="last"] {
    background-color: var(--second-grey);
    cursor: auto;
}

.filtrador {
    display: block;
    text-align: center;
}

.button {
    margin-top: 10px;
    margin-bottom: 5px;
    width: fit-content;
    padding: 10px;
    align-self: end;
    font-weight: bold;
    background-color: var(--primary-green);
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
/*
Hasta aca es administracion de formularios

vamos con los datos del usuario en el index
*/

.index-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra más suave y difusa */
    padding: 20px; /* Espacio interno */
    background-color: var(--primary-white); /* Fondo similar */
    border-radius: 10px; /* Bordes redondeados */
    font-size: 16px; /* Tamaño de fuente ajustado */
    color: var(--primary-black); /* Color de texto */
    text-align: left; /* Alineación del texto a la izquierda */
}

h2 {
    /*font-size: 1.5em; /* Tamaño más grande para el título */
    color: var(--primary-green); /* Color del título */
    text-align: center; /* Centra el título */
}

h3 {
    /*font-size: 1em; /* Tamaño más grande para el título */
    color: var(--primary-yellow); /* Color del título */
    text-align: center; /* Centra el título */
}

.index-form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre elementos */
}

.index-form label {
    font-weight: bold; /* Peso de fuente mayor para etiquetas */
}

.index-form select {
    width: 100%; /* Ancho completo del contenedor */
    padding: 10px; /* Espacio interno */
    margin-bottom: 10px; /* Espacio inferior */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Peso de la fuente */
    color: var(--primary-black); /* Color del texto */
    background-color: var(--primary-white); /* Fondo claro */
    border: 2px solid #ccc; /* Borde sólido */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano para interactuar */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
}

.index-form select:hover {
    border-color: var(--second-light-blue); /* Color del borde al pasar el ratón */
}

.index-form input {
    padding: 5px; /* Espacio interno en campos */
    border: 1px solid #ccc; /* Bordes suaves */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 14px; /* Ajuste de fuente */
}

.index-form button {
    background-color: var(--primary-green); /* Color de fondo similar */
    color: white; /* Color de texto blanco */
    font-weight: bold;
    padding: 10px; /* Relleno interno */
    border: none; /* Sin bordes */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano */
    transition: background-color 0.3s; /* Suaviza el cambio de color */
}

.index-form button:hover {
    background-color: var(--second-light-blue); /* Color en hover */
}

.index-form a {
    text-decoration: underline;
    color: var(--second-light-blue); /* Color del enlace similar al esquema */
    text-align: center; /* Centrado del enlace */
    margin-top: 10px; /* Espacio superior al enlace */
}

.index-form p{
    color: red; /* Cambiar color si el estado es un error */
    text-align: center; /* Centrar el texto de estado */
    font-weight: bold; /* Texto en negrita */
}

.index-container th {
    background-color: var(--primary-green); /* Color de fondo de la cabecera */
    color: var(--primary-white); /* Color de texto de la cabecera */
}

.index-container table {
    width: 100%; /* La tabla ocupa todo el ancho del contenedor */
    border-collapse: collapse; /* Elimina los espacios entre las celdas */
}

.index-container th,
.index-container td {
    padding: 10px; /* Añade relleno interno a las celdas */
    border: 1px solid #ccc; /* Bordes suaves */
    text-align: center; /* Alinea el texto a la izquierda */
}

.index-container h4 {
    color: var(--second-light-blue);
}


.index-dataname {
    display: flex;
    align-items: baseline;
}
.index-dataname > h3 {
    margin-right:2vw;
}

/* Mensaje al finalizar fases */
.no-fase-message {
    color: #a1d6e2;
    text-align: center;
    font-style: italic;
    margin-top: 20px;
}

.lote-message {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: var(--primary-green); /* Cambia a rojo si es un error */
    margin-bottom: 1em;
    grid-column: 1 / -1; /* Hace que el botón ocupe todo el ancho del contenedor */
}

.lote-message.error {
    color: red;
}

.bold {
    font-weight: bold;
}

@media (max-width:850px) {
    .admform-container {
        margin-right: 1em;
        margin-left: 1em;
    }
    .index-container {
        margin-right: 1em;
        margin-left: 1em;
    }
    .admtipopro-container{
        margin-right: 1em;
        margin-left: 1em;
    }
    
    .tabla-usuarios td {
        padding: 0.5em;
    }
}

@media (max-width:700px) {
    .index-container {
        margin: 0.5em;
    }
}


@media (max-width:500px) {
    .admform-container th,
    .admform-container td {
        padding: 0.2em;
    }

    .index-container {
        margin: 0.5em;
    }
    .tabla-usuarios thead {
        display: none;
    }

    .tabla-usuarios tr {
        display: block;
        margin-bottom: 0.5em;
        border: none
        padding: 1ch;
    }

    .tabla-usuarios td {
        display: flex;
        justify-content:space-between;
        padding: 1em;
        border: solid 1px --primary-black;
        align-items: center;
    }

    .tabla-usuarios td::before {
        content: attr(data-label);
        font-weight: bold;
        color: var(--primary-green);
    }
}

.admform-container th {
    background-color: var(--primary-green); /* Color de fondo de la cabecera */
    color: var(--primary-white); /* Color de texto de la cabecera */
}

main h1{
    margin-top: 0;
}
.admlotes-container h2 {
    margin-top: 0;
}

.admform-container h2{
    margin-top: 0;
}


.formulario-producto {
    display: grid;
    grid-template-columns: 1fr; /* Una sola columna */
    row-gap: 10px; /* Espacio entre renglones */
    margin-bottom: 20px; /* Espacio debajo del formulario */
}

/*
-----------------------------
Vista de impresion
-----------------------------
*/

@media print  {
    nav {
        display: none;
    }

    footer {
        display: none;
    }

    main {
        float: none
    }
}

/*
-----------------------------
Modo oscuro
-----------------------------
*/

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--primary-black);
    }
    .tabla-usuarios td::before {
        color: var(--primary-yellow);
    }
    .tabla-usuarios thead th {
        color: var(--primary-yellow);
    }
    header{
        background-color: var(--primary-blue);
    }
    header a:link{
        color: var(--primary-white);  
    }
    header a:hover{
        color: var(--primary-white);
    }
    header a:visited{
        color: var(--primary-white);  
    }
    .user-profile {
        color: var(--primary-white);
    }
    .user-profile > button {
        background-color: var(--primary-blue); /* Color de fondo del botón */
        color: var(--second-light-grey);
    }
    nav{
        background-color: var(--second-grey);
    }
    nav a {
        color: var(--second-light-green);   
    }
    footer{
        background-color: #3b4a5a;
    }
    
    .index-container p{
        color: var(--primary-white);
    }

    .login-container h1{
        color: var(--second-light-green);
    }

    .index-container h1{
        color: var(--second-light-green);
    }
    .index-container h2{
        color: var(--second-light-green);
    }
    .index-container h3{
        color: var(--primary-yellow);
    }

    .login-container{
        background-color: var(--second-grey);
        color: var(--primary-yellow);
    }

    .login-form p{
        color: var(--primary-white); /* Cambiar color si el estado es un error */
    }
    .login-form a {
        color: var(--second-light-grey); /* Color del enlace similar al esquema */
    }
    .login-form button {
        background-color: var(--primary-blue); /* Color de fondo similar */
        color: var(--second-light-grey); /* Color de texto blanco */
    }

    .register-container h1{
        color: var(--second-light-green);
    }

    .register-container{
        background-color: var(--second-grey);
        color: var(--primary-yellow);
    }

    .register-form button {
        background-color: var(--primary-blue); /* Color de fondo similar */
        color: var(--second-light-grey); /* Color de texto blanco */
    }

    .index-container{
        background-color: var(--second-grey);
        color: var(--primary-yellow);
    }
    .index-form button {
        background-color: var(--primary-blue); /* Color de fondo similar */
        color: var(--second-light-grey); /* Color de texto blanco */
    }
    .index-form p{
        color: var(--primary-white); /* Cambiar color si el estado es un error */
    }
    .index-form a {
        color: var(--second-light-grey); /* Color del enlace similar al esquema */
    }
    .index-container th,
    .index-container td {
        border: 1px solid #494949; /* Bordes suaves */
    }
    .index-container th {
        background-color: var(--primary-blue); /* Color de fondo de la cabecera */
        color: var(--primary-white); /* Color de texto de la cabecera */
    }

    .admtipopro-container h1{
        color: var(--second-light-green);
    }

    .admtipopro-container{
        background-color: var(--second-grey);
        color: var(--primary-yellow);
    }

    .admtipopro-container p{
        color: var(--primary-white); /* Cambiar color si el estado es un error */
    }
    .admtipopro-container a {
        color: var(--second-light-grey); /* Color del enlace similar al esquema */
    }
    
    .admtipopro-container th,
    .admtipopro-container td {
        border: 1px solid var(--primary-black); /* Bordes suaves */
    }
    .admtipopro-container th {
        background-color: var(--primary-blue); /* Color de fondo de la cabecera */
        color: var(--primary-white); /* Color de texto de la cabecera */
    }

    .admlotes-container h1{
        color: var(--second-light-green);
    }

    .admlotes-container{
        background-color: var(--second-grey);
        color: var(--primary-yellow);
    }

    

    .admform-container h1{
        color: var(--second-light-green);
    }
    .admform-container h2{
        color: var(--second-light-green);
    }

    .admform-container {
        background-color: var(--second-grey);
        color: var(--primary-yellow);
    }

    

    .admform-container th {
        background-color: var(--primary-blue); /* Color de fondo de la cabecera */
        color: var(--primary-white); /* Color de texto de la cabecera */
    }

    .admform-container th,
    .admform-container td {
        color: var(--second-light-green); /* Color de texto de la cabecera */
        border: 1px solid var(--primary-blue); /* Bordes suaves */
    }

    .admfases-container h1{
        color: var(--second-light-green);
    }

    .admfases-container{
        background-color: var(--second-grey);
        color: var(--primary-yellow);
    }

    .admfases-container p{
        color: var(--primary-white); /* Cambiar color si el estado es un error */
    }

    .admfases-container a {
        color: var(--second-light-grey); /* Color del enlace similar al esquema */
    }

    

    .admfases-container th,
    .admfases-container td {
        border: 1px solid #494949; /* Bordes suaves */
    }

    .admfases-container th {
        background-color: var(--primary-blue); /* Color de fondo de la cabecera */
        color: var(--primary-white); /* Color de texto de la cabecera */
    }

    .button {
        background-color: var(--primary-blue);
    }

    
    .up > img {
        filter: invert(65%);
    }
    
    .down > img {
        filter: invert(65%);
    }
    
    
    .modify > img {
        filter: invert(65%);
    }
    .logout > img {
        filter: invert(65%);
    }


    .admfases-container {
        background-color: var(--second-grey);
        color: var(--primary-yellow);
    }

    .admfases-container h1 {
        color: var(--second-light-green); /* Color de título en modo oscuro */
    }

    .admfases-container th {
        background-color: var(--primary-blue); /* Fondo de la cabecera de la tabla */
        color: var(--primary-white); /* Texto de la cabecera de la tabla */
    }

    .admfases-container td {
        color: var(--second-light-green); /* Texto de las celdas */
        border: 1px solid var(--primary-blue); /* Bordes de las celdas */
    }

    /* Cambia el fondo de los campos */
    .admfases-container .campos-container {
        background-color: var(--second-grey);
    }

    .admlotes-container button {
        background-color: var(--primary-blue); /* Color de fondo similar */
        color: var(--second-light-grey); /* Color de texto blanco */
    }

    .btn{
        background-color: var(--primary-blue); /* Color de fondo similar */
        color: var(--second-light-grey); /* Color de texto blanco */
    }
    

    


    .admfases-container input.input-editar,
    .admfases-container input[type="number"] {
        background-color: var(--second-grey); /* Fondo de los inputs */
        color: var(--primary-yellow); /* Color del texto */
        border: 1px solid var(--primary-blue); /* Bordes */
    }

    .admfases-container input.input-editar::placeholder {
        color: var(--primary-yellow); /* Color del placeholder */
    }

    .admlotes-container h2 {
        color: var(--second-light-green);
    }


    /* Botones de editar y borrar en modo oscuro */

    header h1{
        color: var(--primary-white);
    }

    .subtitulo {
        color: var(--second-light-green); /* Color suave para el subtítulo */
    }


    .lote-message {
        color: var(--primary-white); /* Cambia a rojo si es un error */
    }
    
 }