
{% extends 'base.twig' %}


{% block content %}
<main class="admform-container">
    <h1>Gestión de Alertas</h1>

    <!-- Filtro de Alertas -->
    <input type="text" id="filtro" placeholder="Filtrar por nombre">
    <button onclick="filtrarAlertas()">Filtrar</button>

    <!-- Tabla de Alertas -->
    <table id="tablaAlertas">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Fecha de Elaboración</th>
            <th>Acciones</th>
        </tr>
        <!-- Aquí se cargarán dinámicamente los Alertas -->
    </table>

    <!-- Detalles del Producto -->
    <table id="detallesProducto" style="display: none;">
        <tr><th colspan="2">Detalles del Producto</th></tr>
        <tr><td>ID:</td><td id="detalleId"></td></tr>
        <tr><td>Nombre:</td><td id="detalleNombre"></td></tr>
        <tr><td>Precio:</td><td id="detallePrecio"></td></tr>
        <tr><td>Stock:</td><td id="detalleStock"></td></tr>
        <tr><td>Fecha de Elaboración:</td><td id="detalleFechaElaboracion"></td></tr>
    </table>
  </main>

{% endblock %}