{% extends 'base.twig' %}

{% block head %}
    <script src="/assets/js/admlotes.js" defer></script>
{% endblock %}

{% block content %}

  <main class="admlotes-container">
    <h1>Creaci처n de Lotes</h1>
    <form class="crearLoteForm" method="POST" action="api/lotes">
      <label>Tipo:</label>
      <select class="selectTipoProducto"></select>
      
      <label>Producto:</label>
      <select class="selectProducto" name="producto_id"></select>
      
      <label>Producci처n N째:</label>
      <input type="number" id="numeroProduccion" name="numero" required>
      
      <label>Supervisor:</label>
      <select class="supervisor" name="supervisor_id"></select>
      
      <label>Encargado de Producci처n:</label>
      <select class="encargadoProduccion" name="encargado_produccion_id"></select>
      
      <label>Encargado de Limpieza:</label>
      <select class="encargadoLimpieza" name="encargado_limpieza_id"></select>
      
      <button type="submit">Guardar</button>
    </form>
  </main>

{% endblock %}
  
