{% extends 'base.twig' %}


{% block content %}

  <main class="admlotes-container">
    <h1>Creaci처n de Lotes</h1>
    <form id="crearLoteForm">
      <label>Tipo:</label>
      <select id="tipoProducto"></select>
      
      <label>Producto:</label>
      <select id="producto"></select>
      
      <label>Producci처n N째:</label>
      <input type="number" id="numeroProduccion" required>
      
      <label>Supervisor:</label>
      <select id="supervisor"></select>
      
      <label>Encargado de Producci처n:</label>
      <select id="encargadoProduccion"></select>
      
      <label>Encargado de Limpieza:</label>
      <select id="encargadoLimpieza"></select>
      
      <button type="submit">Guardar</button>
    </form>
  </main>

{% endblock %}
  
