
{% extends 'base.twig' %}

{% block head %}
    <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
    </script>
    <script type="text/javascript">
    (function () {
        emailjs.init({
        publicKey: 'P2ymE0jXezSM_YMnM',
        });
    })();
    </script>
    <script src="/assets/js/admusuarios.js" defer></script>
{% endblock %}

{% block content %}
<main class="admform-container" itemscope itemtype="http://schema.org/WebPage">    <h1 itemprop="headline">Gestión de Usuarios</h1>
    <!-- Filtro de Usuarios -->
    <section class="filtrador" itemscope itemtype="http://schema.org/SearchAction">
        <meta itemprop="target" content="/search?query={query}" />
        <input type="text" class="filtro" placeholder="Filtrar por nombre" itemprop="query-input">
        <button class="btn" onclick="filtrarUsuarios()">Filtrar</button>
    </section>
    <!-- Tabla de Usuarios -->
    <table class="tabla-usuarios relative" data-cant-users="{{ cantUsers }}">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <ul class="paginator lista-horizontal relative">
        <li class="button btn" data-page="first">&lt;&lt;</li>
        <li class="button btn" data-page="prev">&lt;</li>
        
        <!-- Contenedor para los números de página -->
        <ul class="page-numbers lista-horizontal"></ul>

        <li class="button btn" data-page="next">&gt;</li>
        <li class="button btn" data-page="last">&gt;&gt;</li>
    </ul>

    <!-- Formulario para Agregar/Editar Usuario -->
    <form class="login-form" action="register" method="post">
        <label for="email">Email:</label>
        <input type="text" class="email-input" name="email" required>
        
        <label for="rol">Rol:</label>
        <select class="rol-select capitalize" name="rol_id" required>
            {% for role in roles %}
            <option value="{{ role.id }}">{{ role.nombre }}</option>
            {% endfor %}
        </select>
        
        {% if status %}
            <p class="login-error">{{ status }}</p>
        {% else %}
            <p class="login-error"></p>
        {% endif %}
        
        <button class="btn-registrar" type="button" itemprop="potentialAction">Registrar Usuario</button>    
        </form>
  </main>

{% endblock %}