{% extends 'base.twig' %}


{% block head %}
    <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
    </script>
    <script type="text/javascript">
    (function () {
        emailjs.init({
        publicKey: 'P2ymE0jXezSM_YMnM',
        });
    })();
    </script>
    <script src="/assets/js/login.js" defer></script>
{% endblock %}

{% block hamburgerMenu %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

<main class="login-container" itemscope itemtype="http://schema.org/WebPage">
    <form class="login-form" action="login" method="post" itemscope itemtype="http://schema.org/FormAction">
        <h1 itemprop="name">Inicio de sesión</h1>

        <label for="username" itemprop="object.name">Usuario:</label>
        <input type="text" id="username" name="username" value="{{ email }}" required>

        <label for="password" itemprop="object.password">Contraseña:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit" itemprop="potentialAction">Acceder</button>
        
        <p class="login-error" itemprop="result">{% if status %}{{ status }}{% endif %}</p>
        
        <a href="#" class="forgot-password-link" itemprop="url">Olvidé mi contraseña</a>
    </form>
</main>


{% endblock %}