{% extends 'base.twig' %}


{% block head %}
    <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
    </script>
    <script type="text/javascript">
    (function () {
        emailjs.init({
        publicKey: 'P2ymE0jXezSM_YMnM',
        });
    })();
    </script>
    <script src="/assets/js/login.js" defer></script>
{% endblock %}

{% block hamburgerMenu %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

  <main class="login-container">
    <form class="login-form" action="login" method="post">
        <h1>Inicio de sesión</h1>

        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" value="{{ email }}" required>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Acceder</button>
                <p class="login-error">{% if status %}{{ status }}{% endif %}</p>
        <a href="#" class="forgot-password-link">Olvidé mi contraseña</a>
    </form>
    
  </main>

{% endblock %}