{% extends 'base.twig' %}

{% block hamburgerMenu %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <main class="notfound" itemscope itemtype="http://schema.org/WebPage">
        <h2 itemprop="name">404 Not Found :(</h2>
    </main>
{% endblock %}
