{% extends 'base.twig' %}

{% block hamburgerMenu %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <main class="notfound">
        <h2>404 not found :(</h2>
    </main>
{% endblock %}
