{% extends 'base.twig' %}

{% block head %}
    <script src="/assets/js/reset_password.js" defer></script>
{% endblock %}

{% block hamburgerMenu %}
{% endblock %}

{% block navbar %}
{% endblock %}


{% block content %}

<main class="index-container">
    <form class="index-form reset-password-form">
        <h1>Tu contraseña ha sido cambiada exitosamente.</h1>
    </form>
</main>

{% endblock %}