{% extends 'base.twig' %}

{% block head %}
    <script src="/assets/js/reset_password.js" defer></script>
{% endblock %}

{% block hamburgerMenu %}
{% endblock %}

{% block navbar %}
{% endblock %}


{% block content %}

<main class="index-container" itemscope itemtype="http://schema.org/WebPage">
    <form class="index-form reset-password-form" itemscope itemtype="http://schema.org/ConfirmAction">
        <h2 itemprop="name">Tu contraseña ha sido cambiada exitosamente.</h2>
    </form>
</main>

{% endblock %}